<template>
  <div class="content">
    <div v-for="(item, i) in list" :key="i">
        <div class="card-div" @click="fnView($router, item)">
          <div class="card-img-div">
            <img class="card-img" :src="item.imgPath" />
          </div>
          <div class="card-text-div"> 
            <span>{{item.title}}</span>
          </div>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      list : [
        {seq: 1, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 2, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 3, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 4, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 5, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 6, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 7, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 8, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 9, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 10, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 11, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 12, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 13, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 14, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        {seq: 15, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
      ]
    }
  },
  methods : {
    fnView : (router, item) => {
      router.push({name: 'detail', query: item})
    }
  },
  computed : {

  }
}
</script>

<style>
  .content {
    margin-top: 70px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    height: 100lv;
    overflow: scroll;
  }

  .card-div {
    width: 100%;
    height: 15%;
    margin-top: 3%;
  }

  .card-div .card-img-div {
    width: 30%;
    display: inline-block;
  }

  .card-div .card-img {
    width: 100%;
  }
  .card-div .card-text-div {
    width: 67%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 2%;
  }
</style>