<template>
    <div class="content" >
        <div class="login-div">
            <div style="margin-bottom: 35%">
                <img src="@/assets/image/mainLogo.png" style="width:80%;" />
            </div>
            <div>
                <button style="width: 70%; height: 40px; border-radius: 10px; background-color: yellow;" @click="fnLogin">KAKAO Login</button>
                <br/><br/>
                <button style="width: 70%; height: 40px; border-radius: 10px; background-color: green" @click="fnLogin">Naver Login</button>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <span style="font-weight: bold;">Kids Goods Exchange</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    methods: {
        fnLogin : () => {
            window.location.href = "/home"
        }
    }
}
</script>

<style>
    .content {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .login-div {
        
    }
</style>

