<template>
  
  <router-view name="nav"/>
  
  <div class="main">
    <router-view/>
  </div>

  <router-view name="footer"/>
  
</template>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
