<template>
  <div class="main">
    Login Page
    <button type="button" @click="Login">로그인</button>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  methods: {
    Login: () => {
      window.location.href="/home"
    }
  }
}
</script>

<style>

</style>
