<template>
    <div class="nav-bar">
        <div class="nav-div">
            <img class="nav-back-img" src="@/assets/image/nav-back-img.png" @click="$router.go(-1)"/>
            <img class="nav-logo-img" src="@/assets/image/nav-logo-img.png"/>
            <img class="nav-search-img" src="@/assets/image/nav-search-img.png"/>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {

        }
    },
    methods: {
        
    }
}
</script>

<style>
.nav-bar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #2c3e50;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.nav-div {
    display: flex;
    justify-content: space-between;
}
.nav-logo-img {
    width: 50%;
    height: 60px;
    padding: 0 5%;
    max-width: 210px;
}
.nav-back-img {
    width: 30px;
    height: 30px;
    margin: 15px 15px;
}
.nav-search-img {
    width: 30px;
    height: 30px;
    margin: 15px 15px;
}

</style>